
*.egg-info/
*.log
*.py[cod]
.DS_Store
.eggs/
.env
__pycache__/
_logo_tmp/
build/
deploy/.env
deploy/.secrets
deploy/.vultr_api_key
deploy/.vultr_firewall_id
deploy/.vultr_instance_id
deploy/.vultr_ip
dist/
node_modules/
